@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --container-padding: 4.8rem;
}

/* ========================
   * Custom Classes
=========================== */
.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);
  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 4.8rem;
}


.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--container-padding) + var(--container-padding));
  margin-left: calc(var(--container-padding) * -1);
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 2px solid red;
}

.d-none{
  display: none !important;
}



/* ========================
   *  Main Style 
=========================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

button {
  all: unset;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: #fff;
}

/* حجم الـ scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* المسار (Track) */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); /* شبه شفاف */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* الجزء اللي بيتحرك (Thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(5px); 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.105);
  transition: background 0.3s;
}

/* تأثير hover على الـ thumb */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll2Top {
  background-color: rgba(81, 25, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--icon-hover);
  font-size: 1.25rem;
}

.light .scroll2Top {
  background-color: rgba(62, 19, 178, 0.85);
  color: #fff;
}

.scroll2Top:hover {
  background-color: rgb(25, 118, 210);
  color: #fff;
}

/* ========================
   *  Media Queries
=========================== */
@media (max-width: 1000px) {
  .container {
    --container-padding: 1.7rem;
    width: 90%;
    padding: 0 1.7rem;
  }

  .divider {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }
}

@media (max-width: 767px) {
  .container {
    width: 98%;
  }

  .scroll2Top {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.6;
    font-size: 1rem;
  }
}